body{
	background-image: linear-gradient(to top right, #d2b48c, #694b89);
	
	background-attachment: fixed;
	font-family: 'montserrat';
}

html,body {
  width: 100%;
  overflow-x: hidden;
  height: 100%
}

.post-photo{
	width: 800px;
	height: 520px;
  	background-color : white;
	margin: 20px auto auto auto;
	filter: drop-shadow(0px 0px 20px #404040);
}

.konten-grid1{
	display: grid;
  	grid-template-columns: auto auto auto;
  	background-color: white;
}


.konten-photo{
  	font-size: 12px;
  	text-align: center;
  	width: 520px;height:520px;


}


.image img{
	width: 100%;
	height: 100%;
}

.user-acc{
	background-color: transparent;
	width: 260px;
	height: 100px;
	color: black;
}

.caption{
	background-color: transparent;
	width: 260px;
	height: 400px;
	color: black;

}

h1{
	float: left;
	width: 250px;
	background-color: blue;
	margin:auto;
	margin-left: 10px;
	font-size: 20px;
}

a{
	float: left;
	width: 150px;
	background-color: transparent;
	text-decoration: none;
	color: black;
	margin: 10px 0 0 10px ;
	text-align: left;


}


img{
	margin: ;
	width: 50px;
	height: 50px;
}

.caption{
	background-color: transparent;
}

.capt1{
	width: 260px;
	height: 350px;
	background-color: yellow;
}
.like-button{
	width: 50px;
	height: 50px;
	background-color: purple;

}
.konten-grid2{
	margin-left: 30px;
	display: grid;
  	grid-template-columns: auto auto auto;
  	background-color: white;
}

.button{
	background-color: white;
  border: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transition: 0.5s;
  opacity: 0.6;
}

.button:hover{
  filter: drop-shadow(10px 10px 0px #6a696b);
  background-color :#3e255a;
  opacity: 1;
}
