body {
    background: #fff;
    font-family: 'montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
    text-decoration: none;

}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}

h1,h2,h3,h4 {
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;

}

h1 {
  color: #666;
  font-size: 1.8rem;
  font-weight: 700;
}

h2 {
  color: #ffffff;
  font-size: 1rem;
}

h3 {
  color: #444;
  font-size: 14px;
  letter-spacing: 4px;
}

h5 {
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: #777;
  font-size: 16px;
  line-height: 28px;
  word-spacing: 1px;
  letter-spacing: 1px;
}

a {
  outline: none;
  text-decoration: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

img {
  width: 100%;
  max-width: 100%;
}

/* navigation styles
/* ========================================== */
.nav-container,
nav {
  overflow: hidden;
  /*transition: all 0.3s ease;*/
}
.navbar {
  background: transparent;
  height: 87px;
  max-height: 94px;
  margin: 0;
  border-radius: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  font-family: montserrat;
}

.brand {
  float: left;
  padding: 30px 0 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  margin-left: 50px;
}
.brand a { /* VOTART di navbar*/
  color: #333;
  font-size: 24px;
  font-weight: 700;
}

.navicon { 
  position: absolute;
  right: 0;
  padding: 20px 0 0;
}


ul  {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-family: montserrat;

}

li {
    float: right;
}

li a, .dropbtn {
    display: block;
    color: #666\;
    text-align: center;
    padding: 17px 70px;
    text-decoration: none;
    background-color: transparent;

}



.dropbtn {
    background-color: transparent;
    color: #666;
    font-size: 13px;
    border: none;
    cursor: pointer;
    padding: 17px 86px;

}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content { /*ini dropdown*/
    display: none;
    position: absolute;
    background-color: #ddd;
    width: 207px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    color: white;
    padding: 1px 1px 1px 1px;

}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    text-align: center;

}

.dropdown:hover .dropdown-content {
    display: block;
    
}


li a:hover, .dropdown:hover dropbtn{
    background-color: #666;
    color: white;
}




/*
ul  {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    font-family: montserrat;

}

li {
    float: right;
}

li a, a .dropbtn {
    display: block;
    color: #666;
    text-align: center;
    padding: 17px 81px;
    text-decoration: none;

}
.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
    position: absolute; 
    background-color: #fff;
    padding: 3px;
    z-index: 1;
    display: none;
}

.dropdown-content a:hover {
  background-color: #000;
}




li a:hover, .dropdown:hover .dropbtn {  
    background-color: black ; 
    color: white;
}

/*li.dropdown {
    display: inline-block !important;
}*/

.dropdown: hover .dropbtn{
  background-color: white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/*.dropbtn:hover .dropdown-content{
  display: block;
}*/

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown: hover .dropdown-content{
  display: block;
}
*/

.list-menu {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(0, 0, 0, 0.9);
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  opacity: 0;
  z-index: -1;
}

.list-menu.reveal-modal {
  opacity: 1;
  z-index: 999999;
  visibility: visible;
}

.list-menu .ion-close-round {
  font-size: 31px;
  position: absolute;
  top: 32px;
  right: 32px;
  color: #fff;
  cursor: pointer;
}

/* header section styles
/* ========================================== */


#header .header-thumb {
  background: white;
  border: 0px solid #ececec;
  border-radius: 10px 10px 0px 0px;
  margin-top: -120px;
  margin-left: 380px;
  margin-right: 380px;
  min-height: 420px;
}

.header-thumb,
.header-two .header-thumb,
.header-three .header-thumb,
.header-four .header-thumb,
.header-five .header-thumb {
  padding: 32px 20px 32px 20px !important;
}

.header-one{
  padding: 10px 10px 10px 10px !important;
}


.header-one {
  background-color: #f1f2e9;
  background-image: linear-gradient(to top, #f9f9f9, #e3e3e3);
  height: 40vh !important;
  min-height: 465px;
  padding-top: 150px !important;
}
.header-two {
  background: url('../images/header-bg.jpg') no-repeat;
}
.header-three {
  background: url('../images/header-three-bg.jpg') no-repeat;
}
.header-four {
  background: url('../images/header-four-bg.jpg') no-repeat;
}
.header-five {
  background: url('../images/header-five-bg.jpg') no-repeat;
}

/* Portfolio section styles
/* ========================================== */
#portfolio {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

#portfolio img {
  width: 100%;
}

#portfolio .portfolio-thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
} 

#portfolio .portfolio-thumb .portfolio-overlay {
  background: #141414;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.9;
}

#portfolio .portfolio-thumb .portfolio-overlay .portfolio-item {
    text-align: center;
    padding: 30% 20px 20px;
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: #f9f9f9;
    border-radius: 100px;
    color: #141414;
    font-size: 1.3rem;
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 4px;
}



/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 32px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
    float : left;

}

.filter-wrapper li a {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
     padding: 15px 30px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:active {
  background: #111112 !important;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  background: #111112;
  color: #ffffff;
  padding: 15px 30px;

}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}

/* single project section styles
/* ========================================== */
#single-project {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#single-project .project-info {
  padding-bottom: 10px;
}

#single-project img {
  padding-top: 14px;
}

/* about section styles
/* ========================================== */
#about {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

#about .col-md-4 {
  padding-top: 16px;
  padding-bottom: 32px;
}

#about img {
  padding-bottom: 20px;
}

#about blockquote {
  letter-spacing: 2px;
  margin-top: 20px;
}

/* blog & single post section styles
/* ========================================== */
#blog, 
#single-post {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

#blog .blog-thumb {
  padding-top: 60px;
  padding-bottom: 40px;
}

#blog .post-format,
#single-post .post-format {
  padding-bottom: 10px;
}

#blog .post-format span,
#single-post .post-format span {
  color: #888;
  font-weight: 400;
  letter-spacing: 1px;
  padding-right: 10px;
}

#blog .blog-thumb .btn {
  border-radius: 0px;
  padding: 10px 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 22px;
  transition: all 0.4s ease-in-out;
}

#single-post blockquote {
  margin-top: 320px;
  letter-spacing: 2px;
}

.post-image {
  margin: 100px 100px;
}

#single-post .blog-comment,
#single-post .blog-comment-form {
  margin-top: 62px;
}

#single-post .blog-comment h3,
#single-post .blog-comment-form h3 {
  padding-bottom: 20px;
}

#single-post .blog-comment .media {
  padding-bottom: 22px;
}

#single-post .blog-comment .media img {
  padding-right: 14px;
}

#single-post .blog-comment h4 {
  font-weight: 700;
}

#single-post .blog-comment-form .form-control {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#single-post .blog-comment-form input[type="submit"] {
  background: #111112;
  border-color: transparent;
  color: #ffffff;
  height: 50px;
}


/* contact section styles
/* ========================================== */
#contact {
  padding-top: 5rem;
  padding-bottom: 0rem;
}

#contact .fa {
  font-size: 32px;
  padding-right: 10px;
}

#contact #map-canvas  {
  border: none;
  width: 100%;
  height: 300px;
  margin-top: 40px;
}

#contact .contact-form {
  padding-top: 14px;
}

#contact .form-control {
  background: transparent;
  border: 1px solid #eee;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #f0f0f0;
}

#contact textarea {min-height: 100px;}

#contact input {height: 50px;}

#contact input[type='submit'] {
  background: #111112;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
}

#contact input[type='submit']:hover {
  background: #444;
}

.contact-submit {
  width: 50%;
}

#contact .col-md-4 {
  background: #fff;
  padding: 62px 0px 32px 42px;
  position: relative;
  bottom: -50px;
}



/* footer section styles
/* ========================================== */
footer {
  background: #141414;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}


/* social icon */
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  border-radius: 100px;
  border: 1px solid transparent;
  color: #909090;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  padding: 0px;
  margin-top: 14px;
  margin-right: 8px;
  margin-left: 8px;
  position: relative;
  top: 0px;
}
.social-icon li a:hover {
  background: #ffffff;
}

/* Responsive Mobile styles
/* ========================================== */
@media (max-width: 980px) {

  .intro-inner {top: 30%;}

  #contact .col-md-4 {
    padding: 62px 20px 42px 32px;
  }

  #contact .col-md-4 p {
    font-size: 12px;
  }

  #contact #map-canvas {
    margin-bottom: 60px;
  }
}


@media (max-width: 768px) {

  .brand {
    padding-left: 24px;
  }

  .header-one, .header-two,
  .header-three, .header-four,
  .header-five {
  min-height: 10px;
  max-height: 20px;
  padding-top: 80px !important;
  }

  #about .col-md-4,
  #single-project .col-md-3 {
    padding-bottom: 32px;
  }

}


